# Gitleaks configuration
# https://github.com/gitleaks/gitleaks

title = "Selav Gitleaks Config"

[extend]
useDefault = true

[allowlist]
description = "Global allowlist for false positives"
paths = [
  '''\.env\.example$''',
  '''pnpm-lock\.yaml$''',
  '''package-lock\.json$''',
]
